# Xcode
build/
DerivedData/
*.xcuserdata
*.xcworkspace
!*.xcworkspace/contents.xcworkspacedata
xcuserdata/

# Swift Package Manager
.build/
.swiftpm/
Packages/
Package.resolved

# macOS
.DS_Store
*.dSYM
*.dSYM.zip

# Archives
*.ipa
*.xcarchive

# Temporary files
*.swp
*.swo
*~
